.CartList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.CartList .CartItem img {
  width: 150px;
}
.CartItem input {
  width: 50px;
}
.CartItem{
  margin: 10px;
}
.CartItem{
  width: 150px;
}
.Card{
  border: 1px solid black;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;}

  .scale {
    transition: 1s; /* Время эффекта */
   }
   .scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }