.contacts-flex{
  display: flex;
  justify-content: center;
}
.contact-1{
  text-align: center;
}
.contacts_map iframe{
  height: 300px;
  width: 400px;
  border-radius: 50%;
}
.contacts-2{
  padding: 20px 50px;
  font-size: 20px;
}
.adress{
  background-color:  #00a0e3;
  padding: 5px 30px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  line-height: 25px;
}