* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Archivo Narrow", sans-serif;
}
.About {
  border-bottom: 50px;
  margin: 0;
}

.Product {
  margin-bottom: 30px;
}

.CartItem {
  width: 33.3%;
  margin: 0 0 20px;
  padding: 0 10px;
}
.Card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Card > * {
  margin-bottom: 10px;
  display: block;
}
.News {
  display: flex;
  justify-content: center;
}
.news2 {
  margin: 1rem;
}
.news2 img {
  border-radius: 1rem;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.news3 iframe {
  margin-top: 100px;
  border-radius: 1rem;
}
