.Nav ul {
  display: flex;
  list-style-type: none ;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.Nav ul li a {
 padding: 10px;
 display: block;
 color: inherit;
	text-decoration: none;
}